<h1 class="title">User "<%=@user.name%>" Commit <%=@commit%></h1>

<table class="table is-striped  is-fullwidth is-hoverable">
  <tr>
    <th>キー</th>
    <th>名前</th>
    <th></th>
  </tr>
  <% @data.sort_by { |k, _v| savedata_title(k) }.each do |k, v| %>
  <% next unless savedata_is_smartphone(v) %>
  <tr>
    <td><%=h savedata_title(k)%></td>
    <td><%=h savedata_desc(v)%></td>
    <% url = "/u/#{@id}/get/#{@commit}/#{base64(k)}" %>
    <td>
      <a href="<%="/u/#{@id}/dump/#{@commit}/key/#{base64(k)}"%>" class="button is-link">表示</a>
      <!--
      <a href="drs:///TitlePage?import=<%=base_url%><%=url%>" class="button">インポート</a>
      <a href="<%=url%>" class="button">ダウンロード</a>
      -->
    </td>
  </tr>
  <% end %>
</table>
